.text-introduction{
    color: #DCDCDC;
    text-align: justify;
}
.pomodoro-logo-image{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-control-prev, .carousel-control-next{
    height: 10vh;
    margin: auto;
}