.container-sm{
    padding-top: 10px;
}
.card{
    background-color: black;
}
.card-title{
    color: #DCDCDC;
}
.duration-time{
    display: flex;
    flex-direction: column;
}
.radio-options-pomodoro{
    display: flex;
    flex-direction: column;
}
.form-check-label{
    color: #DCDCDC;
}
.send-task-form{
    display: flex;
    justify-content: flex-end;
}
.modal-content{
    background-color: black;
}
.modal-title{
    color: #DCDCDC;
    text-align: center;
}
.btn-close{
    background-color: white;
}